<%= @user.id %>
<%= @user.email %> <br/>

<% unless current_user.nil? %>
<% if current_user.id != @user.id %>
  
  <% if current_user.is_friend?(@user) %>
    <%= link_to "Отписаться", unsubscribe_path(@user.id) %> <br/>
  <% else %>
    <%= link_to "Подписаться", subscribe_path(@user.id) %> <br/>
  <% end %>

<% end %>
<% end %>

    <% @user.photos.each do |photo| %>
        <div class="card photo-form">
          <div class="card-header">
            <%= photo.description %>
          </div>
        <div class="card-block">
        
        <a href="/photos/<%= photo.id %>">
          <%= image_tag photo.image.url(:medium) %>
        </a>

          <br/>
          <%= photo.user.email unless photo.user.nil? %><br/><br/>

          <%= link_to 'Show', photo %>
        
          <% if photo.user == current_user && user_signed_in? %>
            | <%= link_to 'Edit', edit_photo_path(photo) %>
            | <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        </div>

    <% end %>





