<div class="card devise-form">
  <div class="card-header">
    Редактировать <%= current_user.email %> 
    <!--%= resource_name.to_s.humanize %-->
  </div>
  <div class="card-block">



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(оставте поле пустым, если не будете редактировать его)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> символов минимум</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(пароль нужен для подтверждения изменений)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t('lang_name_select') %><br />
    <%= f.select(:lang, [["Russian","ru"],["English","en"]], { include_blank: false , selected: current_user.lang }, {class: 'form-control'}) %>
    <!--%= f.text_field :lang, class: "form-control" %-->
    <!--%= f.select :lang, options_for_select([["Russian","ru"],["English","en"]], current_user.lang), {}, {required: 'true', class: 'form-control'}  %-->
  </div>

  <div class="actions">
    <%= f.submit "Изменить", class: "btn btn-primary" %>
  </div>
<% end %>

<br/>
<h3>Удаление аккаунта</h3>

<p><%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>

<%= link_to "Назад", :back %>

</div>
</div>

