
<% if user_signed_in? %>

<% else %>

<div class="jumbotron jumbotron-landing">
  <h1 class="display-3"><%= t('first_page.title') %></h1>
  <p class="lead"><%= t('first_page.subtitle') %></p>
  <hr class="my-2">
  
  <p class="lead">
    
     <a class="btn btn-primary" href="<%= new_user_registration_path %>" role="button"><%= t('first_page.buttons.sign_up') %></a>
     <%= link_to t('first_page.buttons.log_in'), new_user_session_path, class: "btn btn-warning" %>    

    <!--a class="btn btn-warning" href="#" role="button">Войти</a-->
  </p>
</div>

<% end %>