
<div class="card photo-form">
  <div class="card-header">
    <strong><%= @photo.description %></strong>
  </div>
  <div class="card-block">

<p>
  <%= image_tag @photo.image.url(:large) %> <br/>
  <br>
  <%= @photo.user.name if @photo.user %>
</p>

<% if @photo.user == current_user && user_signed_in? %>
	<%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> |

<% end %>

<%= link_to 'Back', photos_path %>

</div>
</div>