
<% if user_signed_in? %>


<nav class="menu-margins-bottom navbar navbar-dark bg-primary">
  
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

  <div class="container">
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
     
    <ul class="nav navbar-nav float-xs-left">
      <li class="nav-item">
    	  <%= link_to t('logo_title'), root_path, class: 'nav-link landing-logo text-logo' %>
      </li>
      <li class="nav-item">
        <%= link_to new_photo_path, class: "btn btn-primary" do %>
          <i class="icon ion-plus-round"></i> New Photo
        <% end %>
      </li>
      
      <li class="nav-item">
        <%= link_to "Все пользователи", profiles_all_users_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to "Фотографии друзей", profiles_my_subscribers_photo_path, class: 'nav-link' %>
      </li>
    </ul>



    <ul class="nav navbar-nav float-xs-right">

      <li class="nav-item float-xs-right">
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ion-person"></i> <%= current_user.name %>
        </button>
        <div class="dropdown-menu dropdown-menu-right">


          <%= link_to "Мой аккаунт", edit_user_registration_path, class: 'dropdown-item' %>
          <%= link_to "Мои друзья", profiles_my_subscribers_path, class: 'dropdown-item' %>
          <%= link_to "Мои фотографии", profiles_my_photo_path, class: 'dropdown-item' %>
          
          <div class="dropdown-divider"></div>
          <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>

        </div>
      </div>
      </li>

    </ul>



  </div>
  </div>

</nav>


<% else %>


<nav class="menu-margins-bottom navbar navbar-dark bg-transparent">
  
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

  <div class="container">
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    
    <%= link_to link_to t('logo_title'), root_path, class: 'navbar-brand text-logo landing-logo' %>
    
    <ul class="nav navbar-nav float-xs-right">
      <li class="nav-item">
    <%= link_to 'Фотографии', photos_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
		<%= link_to 'О нас', pages_about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
      </li>
    </ul>

  </div>
  </div>
  
</nav>


<% end %>



